# Jupyter Notebook
.ipynb_checkpoints
/data-collection/.ipynb_checkpoints

# txt files
.gitignore
scraping-tips.txt

# data
*.csv
*.json
*.txt

# backups
*.zip


# hidden notebooks
/data-collection/web-scraper.ipynb

